# Virtual environment
venv/
.env/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# Logs
*.log

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
